* {
    margin: 0;
    padding: 0;
}
#id1{display: flex;
    justify-content: center;
    color: chocolate;
}
#id2 {
    display: flex;
    font-family:cursive;
    font-style: italic;
    justify-content:center;
    margin: 5px;
}
.c1,label{ padding-right: 15px;
    padding-left: 10px;}

